/*------------------------------------------------------------------

[OLIVE ENTERPRISE]

[Invoice Stylesheet]

Project:	OLIVE ADMIN
Version:	1.1
Last change:	[INITIAL RELEASE]
Assigned to:	Olive Enterprise (Surat,IN)
Primary use:	Admin Side Used Template. 
-------------------------------------------------------------------*/3


/*------------------------------------------------------------------
[1. Invoice CSS]
*/


#sidebar,.header,.site-footer {
    display: none;
}

.header,.site-footer {
    min-height: 0;
}

#main-content {
    margin-left: 0;
    width: 100%;
    margin-top: -50px;
}